body{
  overflow-x:hidden;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    
    opacity: 0.5;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
   background-size: contain;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#bgvid
{
  position: absolute;
  left = 0;
  margin-bottom:10px;
  opacity: 0.6;
  z-index: -2;
}

.your-clock{
   zoom: 0.6;
   -moz-transform: scale(0.6)
}

@media only screen and (max-width: 1000px)
{
  #bgvid{
    display: none;
     
  }

  .banner_bg{
    background-color:black;
    background-color: rgba(0, 0, 0, 1)
  }
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#attendeeApplication {
    height: 62px;
    width: 206px;
    background-image: url('/wp-content/uploads/sites/9/2014/10/applyAsAttendee.png');
    float: center;
    margin-right: -16px;
}



#button1{
  background-color: #e62b1e;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2;
    padding: 6px 15px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}
