
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    
    opacity: 0.5;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
   background-size: contain;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#bgvid
{
  position: absolute;
  left = 0;
  margin-bottom:10px;
  opacity: 0.6;
  z-index: -2;
}

@media only screen and (max-width: 1000px)
{
  #bgvid{
    display: none;
     
  }

  .banner_bg{
    background-image: url('/wp-content/uploads/sites/9/2014/10/img1.jpg')
  }
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

