
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
   background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#bgvid
{
  position: absolute;
  left = 0;
  margin-bottom: 50px;
  opacity: 0.8;
  z-index: -1;
}

@media only screen and (max-width: 1000px)
{
  #bgvid{
    display: none;
     
  }

  .banner_bg{
    background-image: url('/wp-content/uploads/sites/9/2014/10/img1.jpg')
  }
}